%h3= path[1..-1]
%h4 Attributes
%form#form{ :method =>'POST' }
  %table{:width => '100%'}
    %thead
      %tr
        %td Name
        %td Description
        %td Allow Read
        %td Allow Write
        %td Type
        %td Value
    %tbody
      = render_content_attributes_lines(path, bean, attribute_value_hash)
  %input{ :type => 'submit', :value => 'Update' }

:javascript
  $("#form").submit(function() {
    $.post("#{attributes_path(path)}", $("#form").serialize(), function(result) {
      $("#content").html(result);
    });
    return false;
  });
