!!!XML
!!!1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %script{:type => 'text/javascript', :src => '_lib/jquery.js'}
    %script{:type => 'text/javascript', :src => 'jquery.jstree.js'}
    %script{:type => 'text/javascript', :src => 'jquery.layout.min-1.2.0.js'}
    %script{:type => 'text/javascript', :src => 'jquery-ui-1.8.16.custom.min.js'}
    :javascript
      $(document).ready(function () {
        $('body').layout({ applyDefaultStyles: true });
      });
    %title Rumx Console
  %body
    .ui-layout-west
      = partial :tree
    .ui-layout-center#content
      Here is some stuff
