%li.tree-bean-attributes
  %a{ :href =>'#', :onclick => "$('#content').load('#{attributes_path(path)}'); return false" } Attributes
  %ul
    - bean.class.bean_attributes.each do |attribute|
      %li
        %a= attribute.name
