#tree
  %ul
    = render_tree_bean_children(::Rumx::Bean.root)
:javascript
  $(function () {
    jQuery("#tree")
      .jstree({
        core : { /* core options go here */ },
        plugins : [ "themes", "html_data" ]
    });
  });
